@import '../../../variables.scss';

.Links{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        // border: 1px solid red;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0;
        svg{
            width: 2rem;
            height: 2rem;
            fill: $colorGold;
        }
    }
}